allow crash_dump bluetooth_data_file:file { getattr open read };
allow crash_dump bluetooth_prop:file { getattr open };
allow crash_dump device_config_runtime_native_boot_prop:file { getattr open };
allow crash_dump device_config_runtime_native_prop:file { getattr open };
allow crash_dump exported_bluetooth_prop:file r_file_perms;
allow crash_dump exported_camera_prop:file { getattr open };
allow crash_dump media_variant_prop:file { getattr open };
allow crash_dump resourcecache_data_file:file { getattr open read };
allow crash_dump hwservicemanager_prop:file { getattr open };
allow crash_dump bluetooth_a2dp_offload_prop:file { getattr open };
